$red: #b6352d;
$grey: #333333;
$lightGrey: #606060;

body, html {
    margin: 0;
    padding: 0;
}
@mixin bodyStyle {
  font-size: 18px;
  line-height: 200%;
}

@mixin centeredContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; 
} 
.callText {
  @include centeredContent;
  align-self: center;
}

.foundersBlock {
  @include centeredContent;
}
.redText {
  color: #b6352d;
  font-weight: bold;
}
.foundersBlock{
  background-color: #b6352d;
  height: 50vh;
}


.container, #__next {
    width: 100vw;
}

#nav  {
    text-decoration: underline;
    border-bottom: 3px solid $red;
    background-color: #333333;
}
.btn {
    display: inline-block;
    padding: 1.2em 1.4em;
    margin-top: .8em;
    height: 67px;
    min-width: 180px;
    max-width: 300px;
    box-shadow: 3px 3px rgba(125,125,125,0.2);
    background-color: #B92C2C;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
}
#callToAction {
    background-color: $lightGrey;
    height: 80vh;
    color: white;
    @include centeredContent;
}

#ourTeam {
  background-color: $grey;
  color: white;
  @include centeredContent;
  align-self: center;
  height: 30vh;
}

#WhatWeDo {
  padding: 2em 1em 2em 0;
  @include bodyStyle;
}

#WhoWeServe {
  padding: 2em 0 2em 1em;
  @include bodyStyle;
}