$red: #b6352d;
$grey: #333333;
$lightGrey: #606060;
$lighterGrey: #F2F2F2;

body, html {
    margin: 0;
    padding: 0;
}
@mixin bodyStyle {
  font-size: 18px;
  line-height: 200%;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

@mixin centeredContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; 
  align-items: center;
} 
@mixin boxPadding {
  padding: 2em, 2em, 2em, 2em;
}
p {
  @include bodyStyle;
}

#foundersBlock {
  padding-top: 1em;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#founders-container {
  background-color: $red;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}
.founder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 1;
  .nameTag{
    display: inline-block;
    position: relative;
    bottom: 58px;
    background-color: rgba(51, 51, 51, .8);
    width: 320px;
    color: white;
    @include bodyStyle;
    font-size: .9rem;
    span {
      font-size: 1.2rem;
    }
  }
}
.founders-title {
  margin-bottom: 0;
  letter-spacing: 0.2em;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding-top: 1em;
  max-width: 85vw;
}
.redText {
  font-weight: 900;
  color: #B92C2C;
  
}
.White-title {
  font-size: 2.5em;
  font-weight: 100;
  color: white;
  @include centeredContent;
  text-align: center;
}
.greybox{
  background-color: $grey;
  color: #ffffff;
}
.lighterGreyBox {
  background-color: $lighterGrey;
}


#nav  {
    text-decoration: underline;
    border-bottom: 3px solid $red;
    background-color: #333333;
    padding: 0;
    .nav-link{
      display: inline-block;
      display: flex;
      color: rgb(245, 227, 226);
      text-decoration: none;
      height: 100%;
      margin: 0;
      padding: .3rem 1rem .3rem 2rem;
      @include bodyStyle;
    }
    .nav-link:hover {
      background-color: $red;
      
    }
}
.btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: .8em;
  box-shadow: 3px 3px rgba(125,125,125,0.2);
  background-color: #B92C2C;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
#callToAction {
    background-color: $lightGrey;
    height: 80vh;
    color: white;
    @include centeredContent;
    .callText {
      @include centeredContent;
      align-self: center;
    }
    display: none;
}

#ourTeam {
  background-color: $grey;
  color: white;
  @include centeredContent;
  min-height: 48vh;
  .team{
    display: flex;
    flex-direction: column;
  }
  .buildAndMaintain {
    font-size: 1.2em;
    color: $red;
    font-weight: bold;
  }
  span {
    padding: 0em .7em 0 .7em;
  }
}

#WhatWeDo {
  padding: 3em 1em 2em 2em;
  background-color: $lighterGrey;
  min-height: 60vh;
  @include bodyStyle;
}

#WhoWeServe {
  padding: 2em;
  @include bodyStyle;
}
.startUp{
  background-color: $grey;
  color: white;
  @include bodyStyle;
}

#linksAndFounder {

  .moreLinks {
    display: flex;
    @include centeredContent;
    text-align: center;
    background-color: $lighterGrey;
    padding: 2em 2em 2em 2em;
    ul {
      padding-top: 10px;
      list-style-type: none;
    }
  }
  .ourFounder {
    background-color: $grey;
    color: white;
    padding: 2em 2em 2em 2em;
  }
}
@media (min-width: 1266px) { 
  #foundersBlock {
    flex-direction: row;
  }
  .founder{
    border: solid .5em transparent;
  }
    #ourTeam {
    flex-direction: column;
    .team {
      flex-direction: row;
    }
  }
  #callToAction {
    display: flex;
  }
  
 }